<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://adlsmessageboard.z1.web.core.windows.net/stylesheets/stylesheet_global.css">
    <link rel="stylesheet" type="text/css"
        href="https://adlsmessageboard.z1.web.core.windows.net/stylesheets/stylesheet_show_messages.css">
</head>

<body style="height: 100vh">
    <center>
        <h1 class="display-1" id="heading1" >Nachrichtenboard</h1>
        <h2 class="display-4" id="heading2" >Board: {{ board_id }}</h2>

        <table id="main_table">
            <tr>
                <th class="lead">Von</th>
                <th class="lead">Wann</th>
                <th class="lead">Nachricht</th>
            </tr>

            {% for item in content_items %}
            <tr>
                <td>{{ item.sender_name }}</td>
                <td>{{ item.timestamp }}</td>
                <td>{{ item.message_text }}</td>

            </tr>
            {% endfor %}

        </table>

        <div class="carousel slide" data-ride="carousel" data-interval="10000" id="carousel" >
            <div class="carousel-inner" style="height:100%">

                {% for item in image_items %}

                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" style="height: 100%">
                    <img class="d-block" src="{{ item.image_path }}" style="height:100%">
                </div>

                {% endfor %}

            </div>
        </div>

    </center>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>