#main_table {
    width: 90vw;
    margin: 1vh;
}

#main_table td,
#main_table th {
    border: 5px solid var(--divider);
    padding: 8px;
}

#main_table th {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    background-color: var(--dark_primary);
    font-size: 5vh;
    color: var(--text_primary);
}

#main_table tr:nth-child(even) {
    background-color: var(--light_primary);
}

#main_table tr {
    height: 12vh;
}

#main_table td {
    font-size: 3vh;
    color: var(--text_primary);
}

#heading1 {

    color:black;
    padding: 1vh;
    padding-bottom: 0
}

#heading2 {
    color: var(--text_secondary);
    padding: 1vh;
    margin: 1vh;

}

#carousel {
    width:80vw;
    height: 40vh
}