:root {
    --dark_primary: #00796B;
    --light_primary: #B2DFDB;
    --primary: #009688;
    --text: #FFFFFF;
    --accent: #FFEB3B;
    --text_primary: #212121;
    --text_secondary: #757575;
    --divider: #BDBDBD;
}

#html, body {
    background-color: white;
}

#main_page {
    width: 100%;
    height: 80vh;
}

